<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>对您信息的确认</title>




	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap-table.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<!-- 在url上使用@标签，可以帮助我们自动加上contextpath -->
	<link rel="stylesheet" th:href="@{/weui/css/jquery-weui.css}">
	<link rel="stylesheet" th:href="@{/weui/css/weui.min.css}">

	
	<script th:src="@{/weui/js/jquery-weui.js}"></script>
	<script th:src="@{/weui/js/toast.js}"></script>
	
	<script th:src="@{/weui/js/jquery.min.js}"></script>

</head>
<body>



</body>
</html>
