<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account,对您进行信息确认</title>




<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- 在url上使用@标签，可以帮助我们自动加上contextpath -->

<link rel="stylesheet" th:href="@{/weui/css/swiper-bundle.min.css}">
<link rel="stylesheet" th:href="@{/weui/css/weui.min.css}">
<link rel="stylesheet" th:href="@{/weui/css/jquery-weui.css}">



<script th:src="@{/weui/js/swiper-bundle.min.js}"></script>

<script th:src="@{/weui/js/city-picker.min.js}"></script>
<script th:src="@{/weui/js/jquery-weui.js}"></script>
<script th:src="@{/weui/js/jquery.min.js}"></script>
<script th:src="@{/weui/js/swiper.min.js}"></script>
<style>
img {
	width: 100%;
}

* {
	font-size: 35px;
}
</style>


</head>
<body>
	<!-- 幻灯片就是用于宣传 -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img th:src="@{/images/1.jpg}" alt="">
			</div>
			<div class="swiper-slide">
				<img th:src="@{/images/2.jpg}" alt="">
			</div>
			<div class="swiper-slide">
				<img th:src="@{/images/3.jpg}" alt="">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container', {
			speed : 10000,//播放速度
			autoHeight : true,
			loop : true,//是否循环播放
			setWrapperSize : true,
			autoplay : {
				delay : 5000,
				disableOnInteraction : false,
			},
			pagination : '.swiper-pagination',//分页
			effect : 'slide',//动画效果
		});
	</script>

	<div class="weui-cells">
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<div
					style="text-align: center; letter-spacing: 15px; color: red; font-size: 65px">
					<h1>Markus Have Something To Say!</h1>
				</div>
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<p style="color: red">努力 奋斗</p>
				<p>组建一个团队:</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在不久的将来，我希望:</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;能和不多的几个志同道合的朋友,</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一起去寻找诗和远方。</p>
				<p>如果你：</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、喜欢独处忠于自己的内心世界</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、心有执念不服输、不向命运低头</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、大爱于心、致真于行</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、热爱编程、喜欢算法</p>
				<p>请留下你的联系方式:</p>
			</div>
		</div>

		<div class="weui-cell">
			<div class="weui-cell__bd">
				<textarea id="textareadiv" rows="3" cols="34">
				
			</textarea>
			</div>
		</div>


		<div class="weui-cell">
			<div class="weui-cell__bd">
				<button id="contentbtn" class="weui-btn weui-btn_primary">填写好联系方式，提交给我们，等待我们联系</button>
			</div>
		</div>
	</div>
	
	<script>
		$("#contentbtn").click(function(){
			var textAreaDiv = $("#textareadiv").val();

			var url = "/wx/content";
			var args = {
					textAreaDiv: textAreaDiv
			};
			$.post(url, args, function (data) {
				if (data == "成功") {
					//登录成功
					alert("已经为您登记！");
				} else {
					alert("您的联系方式填写有误！");
				}
			})

			
		});
		
	</script>
	
	

	<!-- 
	<div class="weui-panel weui-panel_access">
		<div class="weui-panel__hd" style="font-size: 35px">New
			Messages!</div>
		<div class="weui-panel__bd">


			<a href="" class="weui-media-box weui-media-box_appmsg">
				<div class="weui-media-box__hd" style="width: 150px; height: 150px">
					<img class="weui-media-box__thumb"
						src="https://thirdwx.qlogo.cn/mmopen/vi_32/DYAIOgq83epuQgaaLrxnezCtqudGiayMoziacpfiaIj9s8pja2VBlMjSGs03SCleJ9vbTDqZTpg6Iql96QH6L5gDg/132
">
				</div>
				<div class="weui-media-box__bd">
					<h4 class="weui-media-box__title" style="font-size: 35px">message
						title</h4>
					<p class="weui-media-box__desc" style="font-size: 35px">message
						content</p>
				</div>
			</a>




		</div>
		<div class="weui-panel__ft">
			<a href="javascript:void(0);"
				class="weui-cell weui-cell_access weui-cell_link">
				<div class="weui-cell__bd">查看更多</div> <span class="weui-cell__ft"></span>
			</a>
		</div>
	</div>
	
	 -->

	<div class="weui-panel__hd" style="height: 65px"></div>

	<div class="weui-footer">
		<p class="weui-footer__text" style="font-size: 25px">Copyright ©
			2021-2026 markus</p>
	</div>
</body>
</html>


