<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account,对您进行信息确认</title>




<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

<script th:src="@{/js/bootstrap.min.js}"></script>
<!-- 在url上使用@标签，可以帮助我们自动加上contextpath -->

<link rel="stylesheet" th:href="@{/weui/css/swiper-bundle.min.css}">
<link rel="stylesheet" th:href="@{/weui/css/weui.min.css}">
<link rel="stylesheet" th:href="@{/weui/css/jquery-weui.css}">



<script th:src="@{/weui/js/swiper-bundle.min.js}"></script>

<script th:src="@{/weui/js/city-picker.min.js}"></script>
<script th:src="@{/weui/js/jquery-weui.js}"></script>
<script th:src="@{/weui/js/jquery.min.js}"></script>
<script th:src="@{/weui/js/swiper.min.js}"></script>
<style>
	img {
		width: 100%;
	}
	
	*{
		font-size:35px;
	}
</style>


</head>
<body>
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img th:src="@{/images/6.png}" alt="">
			</div>
			<div class="swiper-slide">
				<img th:src="@{/images/6.png}" alt="">
			</div>
			<div class="swiper-slide">
				<img th:src="@{/images/6.png}" alt="">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<script type="text/javascript">
		var mySwiper = new Swiper('.swiper-container', {
			speed : 10000,//播放速度
			autoHeight : true,
			loop : true,//是否循环播放
			setWrapperSize : true,
			autoplay : {
				delay : 5000,
				disableOnInteraction : false,
			},
			pagination : '.swiper-pagination',//分页
			effect : 'slide',//动画效果
		});
	</script>

	<div class="weui-cells">
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<div style="text-align:center"><h1>林宏你给我等着</h1></div>
			</div>
		</div>
		<div class="weui-cell">
			<div class="weui-cell__bd">
				<p style="color:red">来源：林宏帮帮团</p>
				<p>我叫林宏，扬州大学附属医院职工 </p>
				<p>我想找个女朋友</p>
				<p>需要人品端正，年入百万，我可以做她的小情人</p>
				<p style="color:red; font-size:45px">朱大，你看还有什么要说的？要不要放他手机号码？？</p>
			</div>
		</div>
	</div>
	



  <div class="weui-panel__hd" style="height:65px"></div>
  
<div class="weui-footer">
  <p class="weui-footer__text" style="font-size:25px">Copyright © 2008-2016 weui.io</p>
</div>
</body>
</html>


