<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>文件上传和下载</title>




	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap-table.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>



</head>
<body>

	<h1>文件上传</h1> 
	<br >
	<form action="UpLoadImg" method="post" enctype="multipart/form-data">
		姓名：<input name="sname" /><br/>
		
		上传照片：<input type="file" name="spicture">
		<br/>
		<br/>
		<input type="submit" value="提交">
	
	</form>
	
	
	<h1>文件下载</h1> 
	


	<!-- 主体内容 开始 -->
	<a th:href="@{/download2?filename=wkd.xls}">下载文件</a>
	
	


</body>
</html>
